#legislators {

    & h2 { color: $light-pink; }
    & h5 { color: $dark-blue; }
    & .social {
        width: 100vw;
        clear: both;
        overflow: auto;
        left: -$padding *3;
        position: relative;
        & div {
            float: left;
            background: $light-grey;
            padding: $padding * 2 $padding * 4;
            width: 11.7vw;
            text-align: center;
            border-right: 1px solid $blue;
            color: $blue;
            margin-bottom: $padding * 4;
            &:hover{
                cursor: pointer;
                background: $blue;
                color: $white;
            }
        }
    }
}
