#legislators {
    padding-top: $padding * 6;
    .legislator {
        padding: $padding $padding * 2 0 $padding * 2;
        #currentLegislators div {
            display: inline-block;
            margin-right: 40px;
        }

        & h2 { color: $white; &:hover{ color: $light-pink; } }
        & h5 { color: $dark-blue; padding-left: 0 }
        & p { color: $light-pink; padding-left: 0 }
        & .fields { display: inline-block; float: left; padding-left: 0; padding-right: 60px;}
        & .fields:last-child { padding-right: 0}
        & .social {
            width: 50vw;
            clear: both;
            overflow: auto;
            left: -$padding *2;
            padding-top: $padding * 2;
            position: relative;
            & div {
                float: left;
                background: $light-blue;
                padding: $padding 0;
                width: 24.86%;
                text-align: center;
                border-right: 1px solid $blue;
                color: $blue;
                font-size: 1.5em;
                &:hover{
                    cursor: pointer;
                    background: $dark-blue;
                    color: $white;
                }
            }
        }
        &:hover{
            border-left: 4px solid $light-pink;
            transition: border-left 250ms;
        }

        & #currentLegislators{
            & h5 { color: $dark-blue; padding-left: 0; }
            & p{ margin-bottom: 0; padding-left: 0; }
            & div h5 {
                color: $dark-blue;
                padding-left: 0;
            }
        }
    }
}
