.green {
  background: $green;
}

.blue{
	background: $blue;
}

.red{
  background: $red;
}

.grey{
  background: $grey;
}

.lightGrey{
  background-color: $light-grey;
}

hr { border: 3px solid $white }
html, body{
	margin: 0;
	padding: 0;
	color: $grey;
	font-family: 'Montserrat' !important;
	height: 100%;
	background: $white;

	&::-webkit-scrollbar {
    display: none;
	}
}

h1,h2,h3,h4,h5,h6{
	padding: 2px;
	margin: 0;
	font-family: 'Montserrat' !important;
}

p{
	padding: 2px;
	margin: 0;
	font-size: 1em;
}

.container{
	margin: 0 auto;
}

a{
	color: $grey;
	text-decoration: none;
}

a img, img{
	border: 0;
}

.container{
	background: $white;
	color: $blue;
	min-height: 100vh;
	height: 100vh;
	position: relative;
	clear: both;
}

ul { list-style: none !important;}

button {
	background: $dark-blue;
	cursor: pointer;
	color: $white;
	border: none;
	padding: $padding $padding*2;
	font-size: 0.8em;
	font-family: 'Montserrat' !important;
	border-radius: 10px;
	width: 100%;
	&:hover{
		background: $white;
		color: $blue;
		transition: color 250ms, background 250ms;
	}
}
