@media screen and (max-width: 70em) {
  .landing{
    & svg{ display: none;}
    & .form { width: 50vw !important;}
  }
  & #legislators .legislator .social {
     & div { width: 24.7% !important; }
  }
  .DNC #delegate-wrapper .delegate #delegate-list{
    width: 20vw !important;
  }
}
@media screen and (max-width: 50em) {
  .header-bar h1 {
    font-size: 1.8em !important;
  }
  .landing{
    position: relative !important;
    display: block;
    & h1 { font-size: 1.2em; }
    & h2 { font-size: 1.1em; }
    & svg{ display: none;}
    & .form { width: 80vw !important;}
  }
  .container .form{
    z-index: 10 !important;
    & form.legislator { display: none !important; }
    & h5 { display: none; }
  }
  .landing-side-grid {
    position: relative !important;
    display: block;
    float: left;
    width: 100% !important;
    margin-top: 0 !important;
  }

  .bill-title{
    position: relative !important;
    width: 90vw !important;
    & h1 { font-size: 1.2em; }
    & h1.title { font-size: 1.2em !important; }
    & h2 { font-size: 1.1em; }

    & .social, #legislators .legislator .social {
      width: 100vw !important;
      position: relative !important;
      left: -19px !important;
      & div { width: 24.69% !important; }
    }

    &#bill-description {
      display: none;
    }
    & .bill-drawer-button { display: none !important; }
  }

  .bill-details {
    position: relative !important;
    display: block;
    float: left;
    width: 100% !important;
    margin-top: 19vh !important;

    & #legislators .legislator .social {
     width: 100vw !important;
     & div { width: 24.6% !important; }
    }
    &#bill-list{
      margin-top: 16vh !important;
    }
    &#legislator{
      margin-top: -3vh !important;
      padding-top: 0;
    }
    & .pagination {
      width: 100vw;
      margin: -20px auto 16px auto;

      & a {
        height: 14px;
        width: 14px;
      }
    }

    & #legislators {
      padding-top: 30px;
    }
  }

  .form form .search-field.bill{
    font-size: 0.8em !important;
  }
  .DNC #delegate-wrapper .delegate #delegate-list{
    width: 60vw !important;
  }
  .DNC #dnc-wrapper {
    top: 20vh;
    position: relative;
    width: 90vw;
    display: inline-block;
    .dnc-header{ text-align: center;}
    & #faq-wrapper {
      & h2 { font-size: 1.2em;}
      & h3 { font-size: 1em; }
    } 
    & #candidate-wrapper {
      & .candidate{
        width: 90vw;
        margin: 0;
        padding: 0;
        & ul li{
          width: 90vw;
        }
      }
    }
  }

}


